<?xml version="1.0"?>
<connectionStrings>
  <remove name="server"/>
  <add name="server" connectionString="Data Source=COR-W10-112\SQLEXPRESS;Initial Catalog=COR_Basic_Demo_V4;Persist Security Info=False;Integrated Security=true;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;SchemaPorter&quot;" providerName="System.Data.SqlClient"/>
  
  <remove name="COR-W10-112"/>
  <add name="COR-W10-112" connectionString="Data Source=COR-W10-112\SQLEXPRESS;Initial Catalog=COR_Basic_Demo_V4;Persist Security Info=False;Integrated Security=true;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;SchemaPorter&quot;" providerName="System.Data.SqlClient"/>
  
  <remove name="DESKTOP-L73D2V6"/>
  <add name="DESKTOP-L73D2V6" connectionString="Data Source=DESKTOP-L73D2V6;Initial Catalog=COR_Basic_Demo_V4;Persist Security Info=False;User Id=SchemaPorterWebServices;Password=TOP_SECRET;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;SchemaPorter&quot;" providerName="System.Data.SqlClient"/>
</connectionStrings>
